.button-product {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  display: inline-block;
  padding: 6px 58px 4px 0;
  border: none;
  position: relative;
  cursor: pointer;

  &:hover {
    .button-product__go-to-icon {
      transform: scaleX(1.3);
      top: 24%;
      right: 14px;

      @media (min-width: $tablet-width) {
        right: 1px;
        top: 10px;
      }
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    .button-product__go-to-icon {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.button-product__go-to-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;

  @media (min-width: $tablet-width) {
    top: 53%;
    right: 8px;
  }

  @media (min-width: $desktop-width) {
    right: 6px;
  }
}
