.cards {
  margin-bottom: 50px;
}

.cards__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  justify-self: start;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 33px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 141px;
    justify-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.cards__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    padding: 52px 20px;
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 205px;
  }
}

.cards__item:last-child {
  background: none;
  border: 2px solid #f2f2f2;
}

.cards__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 109px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 10px 93px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px;
  }
}

.cards__inner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.cards__inner-wrapper img {
  display: block;
  align-self: center;
  grid-row: 1 / -1;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    width: 168px;
    height: 200px;
    margin-top: -122px;
  }
}
