.cards {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.cards__wrapper {
  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: 840px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    max-width: 1700px;
    margin: 0 auto;
  }
}

.cards__link {
  margin: 0;
  text-decoration: none;
  align-self: center;
  grid-row: -1 / 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    width: 168px;
    height: 200px;
    margin-top: -153px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -141px;
  }
}

.cards__text-link {
  text-decoration: none;
  justify-self: start;
}

.cards__main-title {
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
  display: block;
  padding-top: 27px;
  margin-bottom: 41px;
  width: 87%;
  max-width: 370px;

  @media (min-width: $tablet-width) {
    margin-top: 63px;
    margin-bottom: 163px;
    padding-top: 0;
    font-size: 60px;
    line-height: 1;
    width: 100%;
    max-width: 830px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1700px;
    margin-top: 64px;
    margin-bottom: 165px;
  }
}

.cards__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
  justify-self: start;

  @media (min-width: $tablet-width) {
    width: 62%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 77%;
    margin-bottom: 12px;
  }
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 141px;
    justify-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.cards__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  width: 100%;

  &:first-child {
    border-top: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 100%;
  }
}

.cards__item:last-child {
  @media (min-width: $tablet-width) {
    background: none;
    border: 2px solid #f2f2f2;
  }
}

.cards__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 110px;
  border: none;
  grid-column: -1 / 1;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding: 10px 93px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px;
  }
}

.cards__inner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 26px;
  width: 87%;
  max-width: 280px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 52px 38px 39px 38px;
    border: none;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 38px;
    padding-bottom: 40px;
  }
}

.cards__inner-wrapper picture {
  // align-self: center;
  // grid-row: -1 / 1;

  @media (min-width: $tablet-width) {
    // margin-bottom: 70px;
    // width: 168px;
    // height: 200px;
    // margin-top: -153px;
  }

  @media (min-width: $desktop-width) {
    // margin-top: -141px;
  }
}

.cards__image {
  margin: 0;
  display: block;
}

.cards__image--small {
  @media (min-width: $tablet-width) {
    width: 162px;
    height: 200px;
    padding: 28px 3px 0 4px;
  }
}

.cards__image--extra-small {
  padding-top: 24px;
}

.cards__image--smallest {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 28px;
  }
}

.cards__image--big {
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 28px;
    width: 165px;
    height: 203px;
  }
}
