.card {
  padding: 30px 33px 15px 19px;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 67px 316px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 46%;
    padding: 69px 61px 55px 53px;

    &:last-child {
      padding: 69px 67px 55px 57px;
    }
  }
}

.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
  position: relative;
  padding-left: 72px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 16px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 36%;
    margin-bottom: 64px;
  }
}

.card__title--slim {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat-image-sits.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;
    left: 0;
    top: -8px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/cat-image-sits-tablet.svg");
      width: 200px;
      height: 211px;
      left: initial;
      right: -256px;
      top: 14px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/cat-image-sits-desktop.svg");
      width: 100px;
      height: 106px;
      left: 0;
      top: -25px;
    }
  }
}

.card__title--pro {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat-image-going.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 50px;
    left: -7px;
    top: -5px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/cat-image-going-tablet.svg");
      width: 268px;
      height: 200px;
      left: initial;
      right: -290px;
      top: 25px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/cat-image-going-desktop.svg");
      width: 134px;
      height: 100px;
      left: -19px;
      top: -20px;
      right: initial;
    }
  }
}

.card__description {
  line-height: 1.29;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}
