.card-instruction {
  display: flex;
  gap: 20px;
  position: relative;
  counter-increment: number;

  @media (min-width: $tablet-width) {
    height: 280px;
    min-width: 230px;
    flex-direction: column;
    gap: 0;
    justify-content: space-evenly;

    &:nth-child(2n + 1) {
      margin-right: 139px;
    }

    &::before {
      content: counter(number);
      position: absolute;
      width: 112px;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 1;
      z-index: -1;
      left: 118px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-right: 80px;
    }
  }
}

.card-instruction:not(:last-child) {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.card-instruction__image {
  display: block;
  padding: 16px 17px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    padding: 26px 27px;
  }
}

.card-instruction__description {
  margin: 0;
  line-height: 1.29;
  align-self: center;
  position: relative;
  padding-left: 81px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/card-instruction/card-instruction-leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 28px;
    display: block;
    padding: 16px 17px;
    background-color: #68b738;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      top: 0;
      transform: translateY(0);
      padding: 26px 27px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    align-self: flex-start;
    margin-bottom: 21px;
    max-width: 245px;
    padding-left: 0;
    padding-top: 110px;
  }

  @media (min-width: $desktop-width) {
    min-width: initial;
  }
}

.card-instruction__description--powder {
  &::before {
    background-image: url("../img/card-instruction/card-instruction-powder.svg");
  }
}

.card-instruction__description--fork-knife {
  &::before {
    background-image: url("../img/card-instruction/card-instruction-eat.svg");
  }
}

.card-instruction__description--time {
  &::before {
    background-image: url("../img/card-instruction/card-instruction-time.svg");
  }
}

.card-instruction__description:last-child {
  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}
