.catalog__wrapper {
  width: 87%;
  max-width: 370px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: 840px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__extra-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
  margin: 0;
  margin-bottom: 49px;
}
