.contact-info {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 87%;
  max-width: 370px;

  @media (min-width: $tablet-width) {
    width: 82%;
    max-width: 936px;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    max-width: 1700px;
    margin-bottom: 67px;
  }
}

.contact-info__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 76px;
  }
}
