.explainer {
  margin-bottom: 49px;

  @media (min-width: $desktop-width) {
    margin-bottom: 205px;
  }
}

.explainer__wrapper {
  width: 87%;
  max-width: 370px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: 834px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    max-width: 1700px;
    margin: 0 auto;
  }
}

.explainer__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  counter-reset: number 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.explainer__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 32px;
  }
}
