.extra-products {
  margin-bottom: 54px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.extra-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 80px;
  }
}

.list-extra__item {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.extra-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
