.form-text {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 18px;
    margin-bottom: 72px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form-text--row {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 78px;
  }
}

.form-text--contact {
  @media (min-width: $tablet-width) {
    padding-left: 39px;
    margin-bottom: 64px;
    width: 90%;
  }

  @media (min-width: $desktop-width) {
    width: 94%;
  }
}
