.gift {
  background-image: url("../img/background-gift.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #68b738;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-gift-x2.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/background-gift-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-gift-tablet-x2.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background-gift-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-gift-desktop-x2.jpg");
    }
  }
}

.gift__description {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  padding: 187px 57px 43px 58px;
  margin: 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    display: block;
    top: 58px;
    right: 50%;
    transform: translateX(50%);

    @media (min-width: $tablet-width) {
      left: 77px;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 34%;
      transform: translateY(-50%);
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 71px 124px 69px 422px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 186px 40px 40px 40px;
  }
}
