.list-extra__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  // @media (min-width: $desktop-width) {
  //   margin-right: 164px;

  //   &:nth-child(2) {
  //     margin-right: 195px;
  //   }
  // }
}

.list-extra__product-price,
.list-extra__product-quantity {
  font-size: 14px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.list-extra__product-quantity {
  @media (min-width: $tablet-width) {
    // margin-right: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.list-extra__item {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 896px;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}

.list-extra__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.list-extra__text-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 49px;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
  }
}

.list-extra__button {
  font-family: "Oswald", "Arial", sans-serif;
  padding: 10px 109px;
  font-size: 16px;
  border: none;

  @media (min-width: $desktop-width) {
    width: 192px;
    padding: 7px 26px;
  }
}
