.list-extra__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.list-extra__product-price,
.list-extra__product-quantity {
  font-size: 14px;
  line-height: 14px;
}
