// стили логотипа catenergy
.logo-name {
  width: 101px;
  margin-left: 20%;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
    padding-bottom: 0;
  }
}

.logo-name--footer {
  margin-left: 0;
  padding-bottom: 20px;
  width: 128px;
  height: 24px;

  @media (min-width: $tablet-width) {
    display: block;
    padding-bottom: 0;
  }
}
