// стили логотипа catenergy
.logo-name {
  width: 101px;
  height: 65px;
  margin-left: 20%;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo-name--footer {
  margin-left: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
