.main-hero {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 64px;
    position: relative;
    margin-bottom: -29px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 85%;
    max-width: 1700px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: 82px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 185px;
  }
}

.main-hero__button {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  padding: 11px 0;
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding: 17px 0;
    width: 244px;
    top: 0;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: 66%;
    left: 6.7%;
  }
}

.main-hero__wrapper {
  width: 87%;
  margin: 0 auto;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  margin-top: -165px;

  @media (min-width: $tablet-width) {
    width: 68%;
    max-width: 834px;
    margin: 0 auto;
    margin-top: -54px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    max-width: 416px;
    margin: 0 auto;
    text-align: left;
    position: static;
  }
}

.main-hero__text-wrapper {
  background: url("../img/hero-background-cat.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-color: #68b738;
  padding-top: 27px;
  padding-bottom: 164px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-background-cat-x2.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 69%;
    margin: 0 auto;
    max-width: 834px;
    background: none;
    padding: 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 73%;
  }
}

.main-hero__button-wrapper {
  margin: 0 auto;
  margin-top: 4px;
  width: 87%;
  max-width: 370px;
  order: 3;

  @media (min-width: $tablet-width) {
    width: 69%;
    max-width: 834px;
    margin: 0 auto;
    order: initial;
  }

  @media (min-width: $desktop-width) {
    width: 73%;
    order: 2;
  }
}

.main-hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 60px;
    text-align: left;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 174px;
  }
}

.main-hero__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 20px;
    text-align: left;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.main-hero__image {
  object-fit: contain;
  display: block;
  margin: 0 auto;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-top: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, -29px);
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 141px;
    left: 37%;
    transform: translateX(0);
    z-index: 0;
  }
}
