// стили футера на всех страничках
.main-footer__social {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.main-footer__map iframe {
  border: none;
  display: block;
  width: 100%;
}
