.main-hero {
  background-image: url("../img/hero-background-cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    background-image: none;
    height: 800px;
  }

  @media (min-width: $desktop-width) {
    height: 600px;
  }
}

.main-hero__wrapper {
  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.main-hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    color: #000000;
  }
}

.main-hero__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: #000000;
  }
}
