// стили для хедера
.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 87%;
  max-width: 370px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    align-items: center;
    width: 92%;
    max-width: 834px;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 84%;
    max-width: 1700px;
    padding: 0;
  }
}

.main-header__logo {
  height: 65px;
  display: flex;
  align-items: center;
  gap: 56px;

  @media (min-width: $tablet-width) {
    height: 52px;
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    height: 143px;
  }
}
