// стили для хедера
.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    align-items: center;
    width: 92%;
    max-width: 834px;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    max-width: 1700px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 108px;
    z-index: 2;
  }
}

.main-header__logo {
  height: 65px;
  display: flex;
  align-items: center;
  width: 87%;
  margin: 0 auto;
  max-width: 370px;
  position: relative;
  margin-right: auto;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    height: 52px;
    gap: 12px;
    width: auto;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    height: 143px;
  }
}
