// стили футера на всех страничках
.main-footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-footer__social {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.main-footer__map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 400px;
}
