.main-hero {
  background-image: url("../img/hero-background-cat.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

.main-hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-hero__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
