.more {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.more__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    width: auto;
    padding: 51px 38px 38px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
  }
}

.more__icon {
  align-self: center;
  padding: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
    padding: 0;
  }
}

.more__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 93px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 79px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 39px;
  }
}

.more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 26px;

    br {
      display: block;
    }
  }
}

.more__description {
  margin: 0;
  text-align: center;
  font-size: 12px;
  line-height: 1.33;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.12;
    margin: 0;
    margin-bottom: 87px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.more__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
  }
}
