.questionnaire__button-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 533px;
  }
}

.questionnaire__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.questionnaire__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.questionnaire__description {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}
