.questionnaire {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 0;
  }
}

.questionnaire__header-wrapper {
  width: 87%;
  max-width: 370px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 82%;
    max-width: 936px;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    max-width: 1700px;
  }
}

.questionnaire__wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #d9d9d9;
    top: 55%;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 82%;
    max-width: 936px;
    margin: 0 auto;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    max-width: 1700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin-bottom: 69px;
  }
}

.questionnaire__info-container {
  width: 87%;
  max-width: 370px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 936px;
  }
}

.questionnaire__radio-wrapper {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 71px;
  }
}

.questionnaire__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  width: 100%;
  padding: 7px 44px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 282px;
    padding: 13px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.questionnaire__button-container {
  width: 87%;
  max-width: 370px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 47px;
    width: 82%;
    max-width: 936px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    max-width: 1700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 84px;
  }
}

.questionnaire__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-top: 65px;
    margin-bottom: 54px;
  }
}

.questionnaire__description {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 39px;
  line-height: 1.29;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 66px;
  }
}
