.radio-field {
  padding-top: 29px;
  padding-bottom: 23px;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 936px;
  }
}

.radio-field__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 34px 29px 31px 28px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 28px;
  }
}

.radio-field__item:not(:last-child) {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}
