// стили для слайдера с котами до и после

.slider {
  width: 87%;
  max-width: 370px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 72%;
    max-width: 840px;
  }
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider__before {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;
  width: 50%;
  height: 100%;
}
