.social__wrapper {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 92%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    max-width: 1700px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.social__logo {
  text-align: center;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  gap: 4px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    gap: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    gap: 1px;
  }
}

.social__item {
  min-width: 28px;
  min-height: 22px;
  padding: 10px 12px;
  position: relative;
}

.social__icon {
  display: inline-block;
  fill: #666666;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon:not(:last-child) {
  margin-right: 10px;
}
