.social__wrapper {
  display: flex;
  flex-direction: column;
  width: 87%;
  max-width: 370px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: 840px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    max-width: 1700px;
  }
}

.social__logo {
  text-align: center;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__icon {
  display: inline-block;
  padding: 10px;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon:not(:last-child) {
  margin-right: 10px;
}
