.table {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-self: stretch;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.table__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.table__cell {
  font-size: 12px;
  line-height: 1.33;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1;

    &:not(:first-child) {
      padding-top: 8px;
      padding-bottom: 8px;
      word-spacing: 3px;
    }
  }
}
